{% extends 'base.html' %}
{% load static %}

{% block title %}Todo app{% endblock title %}
    
{% block content %}
    <section class="w-full py-10 flex flex-col items-center px-[2.5%] max-w-[1280px] bg-white rounded-md shadow-sm">
        <article class="flex justify-between w-full items-center pb-8 flex-col lg:flex-row lg:pb-10 gap-8">
            {% url 'todo' as todo_url %}
            {% include "components/button.html" with label="Volver" href=todo_url %}
            <h1 class="text-3xl leading-none font-bold block">
                {{ todo.title }}
            </h1>
        </article>
        <article class="flex flex-col gap-3 w-full pt-10 border-t border-gray-200">
            <p>{{ todo.description }}</p>
        </article>
    </section>
{% endblock content %}