{% extends 'base.html' %}
{% load static %}

{% block title %}Todo app{% endblock title %}
    
{% block content %}
    <section class="w-full py-10 flex flex-col items-center px-[2.5%] max-w-[1280px] bg-white rounded-md shadow-sm">
        <article class="flex justify-between w-full items-center pb-8 flex-col lg:flex-row lg:pb-10 gap-8">
            <h1 class="text-3xl leading-none font-bold block">
                Todo app test
            </h1>
            {% url 'todo_create' as todo_create_url %}
            {% include "components/button.html" with label="Crear Todo" href=todo_create_url %}
        </article>
        <form method="get" class="flex items-end w-full gap-4 lg:gap-6 lg:flex-row flex-col">
            <div class="w-full">
                <label class="block mb-2.5 text-sm font-medium text-heading">Buscar</label>
                <input
                    type="text"
                    name="q"
                    value="{{ request.GET.q }}"
                    class="bg-white border border-gray-500 text-heading text-sm rounded-md shadow-xs focus:ring-brand focus:border-brand block w-full px-3 py-2.5 placeholder:text-body min-h-12"
                    placeholder="Buscar..."
                />
            </div>
        </form>
        {% if request.GET.q %}
            <article class="flex justify-between w-full items-center pt-8 flex-col lg:flex-row lg:pt-10 gap-8">
                <p class="text-md text-gray-500">
                    Resultados para: <strong>{{ request.GET.q }}</strong>
                </p>
                {% url 'todo' as todo_url %}
                {% include "components/button.html" with label="Limpiar Búsqueda" href=todo_url %}
            </article>
        {% endif %}
        <article class="flex flex-col gap-3 w-full pt-10">
            
            {% for todo in todos  %}
                <a href="{% url 'todo_detail' id=todo.id %}" class="py-4 px-5 bg-white w-full min-h-12 rounded-md shadow-sm flex justify-betwen transition-all hover:opacity-9">
                    <div class="flex items-center gap-2 w-full">
                        {% if todo.is_checked %}
                            <img class="block max-w-6 min-w-6 min-h-6" src="{% static 'img/circle-check-regular-full.svg' %}" alt="">
                        {% else %}
                            <div class="max-w-6 min-w-6 min-h-6 rounded-full border-2"></div>
                        {% endif %}
                        <p class="text-base {% if todo.is_checked %}line-through{% endif %}">{{ todo.title }}</p>
                    </div>
                    <img class="block max-w-6 min-w-6 min-h-6" src="{% static 'img/trash-solid-full.svg' %}" alt="">
                </a>
                {% empty %}
                <div class="flex flex-col items-center justify-center gap-5 py-10">
                    <p>No tienes TODOS, crea una</p>
                    {% include "components/button.html" with label="Crear" href="#" %}
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock content %}
    