{% extends 'base.html' %}
{% load static %}

{% block title %}Cursos{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block content %}
    <div class="layout">
        <!-- sidebar -->
        {% include 'includes/sidebar.html' %}
        
        <!-- Main content -->
        <div class="main-content">
            <!-- Header -->
            {% include 'includes/header.html' %}
            <main>
                <div class="carousel-wrapper">
                    <div class="course-grid">
                        <div class="course-grid">
                            <!-- Card 1 -->
                            <div class="course-card">
                                <a href="course_detail.html">
                                    <img src="./images/curso_1.jpg" alt="Course Image" class="course-img" />
                                    <div class="course-info">
                                        <div class="course-rating">
                                            <span class="tag beginner">Beginner</span>
                                            <div class="course-meta">
                                                <span><i class="fa-solid fa-star"></i> 5.0</span>
                                            </div>
                                        </div>

                                        <h3 class="course-title">Three-month Course to Learn the Basics of Python and
                                            Start
                                            Coding.
                                        </h3>
                                        <div class="author"><img src="https://randomuser.me/api/portraits/women/68.jpg"
                                                alt=""><span>Alison Walsh</span></div>
                                    </div>

                                </a>
                            </div>

                            <!-- Card 2 -->
                            <div class="course-card">
                                <a href="course_detail.html">
                                    <img src="./images/curso_2.jpg" alt="Course Image" class="course-img" />
                                    <div class="course-info">
                                        <div class="course-rating">
                                            <span class="tag beginner">Beginner</span>
                                            <div class="course-meta">
                                                <span><i class="fa-solid fa-star"></i> 5.0</span>
                                            </div>
                                        </div>
                                        <h3 class="course-title">Beginner's Guide to Successful Company Management:
                                            Business
                                            And
                                            More</h3>
                                        <div class="author"><img src="https://randomuser.me/api/portraits/women/20.jpg"
                                                alt=""><span>Patty Kutch</span></div>
                                    </div>

                                </a>
                            </div>

                            <!-- Card 3 -->
                            <div class="course-card">
                                <a href="course_detail.html">
                                    <img src="./images/curso_3.jpg" alt="Course Image" class="course-img" />
                                    <div class="course-info">
                                        <div class="course-rating">
                                            <span class="tag beginner">Beginner</span>
                                            <div class="course-meta">
                                                <span><i class="fa-solid fa-star"></i> 5.0</span>
                                            </div>
                                        </div>
                                        <h3 class="course-title">A Fascinating Theory of Probability. Practice.
                                            Application.
                                            How to
                                            Outplay...</h3>
                                        <div class="author"><img src="https://randomuser.me/api/portraits/men/32.jpg"
                                                alt=""><span>Alonzo Murray</span></div>


                                    </div>

                                </a>
                            </div>

                            <!-- Card 4 -->
                            <div class="course-card">
                                <a href="course_detail.html">
                                    <img src="./images/curso_4.jpg" alt="Course Image" class="course-img" />
                                    <div class="course-info">
                                        <div class="course-rating">
                                            <span class="tag beginner">Beginner</span>
                                            <div class="course-meta">
                                                <span><i class="fa-solid fa-star"></i> 5.0</span>
                                            </div>
                                        </div>
                                        <h3 class="course-title">Introduction: Machine Learning and LLM. Implementation
                                            in
                                            Modern
                                            Software</h3>
                                        <div class="author"><img src="https://randomuser.me/api/portraits/men/45.jpg" alt=""><span>Gregory Harris</span></div>
                                    </div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock content %}
    
