@view-transition {
    navigation: auto; /* enabled! */
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 1s;
}

*{
    margin: 0;
    box-sizing: border-box;
}

input{
    outline: inherit;
}